{% extends 'blog/base.html' %}
{% block content %}
    <h3>Change your password</h3>
    {% if form.errors %}
        <div role="alert">
            <div id="form_errors">
                {% for key, value in form.erros.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times</span>
            </button>
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label>Old Password</label>
        <input type="password" name="old_password"
               autocomplete="new-password"
               required id="id_old_password"
               placeholder="Enter old password"/>
        <hr>
        <label>New Password</label>
        <input type="password" name="new_password1"
               autocomplete="new_password"
                required id="id_new_password1"
               placeholder="Enter New Password"/>
        <hr>
        <label>New password confirmation</label>
        <input type="password" name="new_password2"
               autocomplete="new_password"
               required id="id_new_password2"
               placeholder="Confirm new password"/>
        <hr>
        <button type="submit" id="reset">Update password</button>

    </form>
{% endblock %}
