{% extends 'blog/base.html' %}
{% block title %} My profile {% endblock %}
{% load blog_tags %}
{% block content %}
    <div>
        <img src="{{ user.profile.avatar.url }}" style="cursor: pointer">
    </div>
    {% if user_form.errors %}
        <div class="container d-flex align-items-center justify-content-center">
            <div class="alert alert-warning alert-dismissible fade show w-50  d-block" role="alert">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
                <button type="button" data-dismiss="alert" aria-label="Close" class="btn-close"></button>
            </div>
        </div>
    {% endif %}
    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <div>
                    <div>
                        <label>Username:</label>
                        {{ user_form.username }}
                        <hr>
                        <label>Email:</label>
                        {{ user_form.email }}
                    </div>
                    <hr>
                    <div>
                        <a href="{% url 'change_password' %}">Change Password</a>

                        <hr>
                        <label>Change Avatar:</label>
                        {{ profile_form.avatar }}
                    </div>
                    <hr>
                    <label>Bio:</label>
                    {{ profile_form.bio }}
                    <label>Post written</label>
                </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary btn-lg">Submit changes</button>
            <button type="reset" class="btn btn-primary btn-lg">Reset</button>
        </form>
    </div>
{% endblock %}
